@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "abeezee";
  src: url("fonts/abeezee.woff2") format("woff2"),
    url("fonts/abeezee.woff") format("woff");
}

button:hover span {
  opacity: 1; /* Metni görünür yapar */
  width: auto; /* Metnin genişliğini içeriğe göre ayarlar */
}

/* This targets the scrollbar itself */
::-webkit-scrollbar {
  width: 3px; /* Adjust the width as needed */
  height: 2px;
}

/* This targets the scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Feel free to change the color */
}

/* This targets the scrollbar thumb (the part that is draggable) */
::-webkit-scrollbar-thumb {
  background: #888; /* Change the color as per your design */
}

/* Changes the thumb color when hovered or clicked */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
